<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934588973412-39564tl0brc36s0eiqk1at8cv6qepd6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934588973412-39564tl0brc36s0eiqk1at8cv6qepd6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAkcHhVVjyRA8LZc8RZWixj3EzHBHVaQBw</string>
	<key>GCM_SENDER_ID</key>
	<string>934588973412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datingApp</string>
	<key>PROJECT_ID</key>
	<string>match-a-muslim-978ca</string>
	<key>STORAGE_BUCKET</key>
	<string>match-a-muslim-978ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934588973412:ios:203acf4537a2c83bc3ba71</string>
</dict>
</plist>